<div class="container">
  <div class="row data-row-lg">
    <div class="col-md-12">
      <br/>
      <h2>Procurement Portal</h2>
      <br />
      <button id="homeButton" type="button" class="btn btn-secondary">Home</button>
      <br />
      <br />
    </div>
  </div>

  <div class="row data-row">
    <div class="col-md-12">
      <br />
<h3>All Requests:</h3>
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-title">
            Request Number
          </div>
          <div class="col-md-1 col-title">
            Date Submitted
          </div>
          <div class="col-md-1 col-title">
            Buyer
          </div>
          <div class="col-md-1 col-title">
            Need-by Date
          </div>
          <div class="col-md-1 col-title">
            Material Description
          </div>
          <div class="col-md-1 col-title">
            Quantity
          </div>
          <div class="col-md-1 col-title">
            Status
          </div>
          <div class="col-md-1 col-title">
            Date Ordered
          </div>
          <div class="col-md-1 col-title">
            Confirmed Delivery Date
          </div>
          <div class="col-md-1 col-title">
            Delivery Status
          </div>
        </div>
      </div>
      {{#each orders}}
      <form id="form1">
        <input type="text" name="request-number" value={{id}} disabled>
        <input type="text" name="dateSubmitted" value={{dateSubmitted}} disabled>
        <input type="text" name="assigned-buyer" value={{buyer}} disabled>
        <input type="text" name="needByDate" value={{needByDate}} disabled>
        <input type="text" name="materialDescription" value={{materialDescription}} disabled>
        <input type="text" name="quantity" value={{quantity}} disabled>
        <input type="text" name="status" value={{status}}>
        <input type="text" name="dateOrdered" value={{dateOrdered}}>
        <input type="text" name="confirmedDeliveryDate" value={{confirmedDeliveryDate}}>
        <input type="text" name="deliveryStatus" value={{deliveryStatus}}>
        <button class="submit">Update</button>
      </form>
      {{/each}}
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

   $("#homeButton").click(function(event) {
   
    event.preventDefault();

    window.location.href="/";
  });

  $(document).ready(function() {

  $(".submit").click(function(event){

    event.preventDefault();
        
    var update = {
      id : $(this).parent()[0].elements[0].value,
      status: $(this).parent()[0].elements[6].value,
      dateOrdered: $(this).parent()[0].elements[7].value,
      confirmedDeliveryDate: $(this).parent()[0].elements[8].value,
      deliveryStatus: $(this).parent()[0].elements[9].value,
    };

    console.log(update);

      $.ajax({
        method: "PUT",
        url: "/api/update",
        data: update
      }).then(function(data){
        window.location.href="/";
      });

  });

 

});

</script>

{{!-- <script src="../../public/js/all.js"></script> --}}

