<div class="container">
  <div class="row data-row-lg">
    <div class="col-md-12">
      <br />
      <h2>Status Review</h2>
      <br />
      <button id="homeButtonReview" type="button" class="btn btn-secondary">Home</button>
      <br />
      <br />
    </div>
  </div>

  <div class="row data-row">
    <div class="col-md-12">
      <br />
      <h3>All Requests</h3>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th class="col-md-1 col-title">
              Request Number
            </th>
            <th class="col-md-1 col-title">
              Date Submitted
            </th>
            <th class="col-md-1 col-title">
              Project Name
            </th>
            <th class="col-md-1 col-title">
              Requestor
            </th>
            <th class="col-md-1 col-title">
              Buyer
            </th>
            <th class="col-md-1 col-title">
              Need-by Date
            </th>
            <th class="col-md-1 col-title">
              Material Description
            </th>
            <th class="col-md-1 col-title">
              Quantity
            </th>
            <th class="col-md-1 col-title">
              Status
            </th>
            <th class="col-md-1 col-title">
              Date Ordered
            </th>
            <th class="col-md-1 col-title">
              Confirmed Delivery Date
            </th>
            <th class="col-md-1 col-title">
              Delivery Status
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <td class="col-md-1" name="request-number">{{id}}</td>
            <td class="col-md-1" name="dateSubmitted">{{dateSubmitted}}</td>
            <td class="col-md-1" name="projectName">{{projectName}}</td>
            <td class="col-md-1" name="requestorname">{{requestorname}}</td>
            <td class="col-md-1" name="buyer">{{buyer}}</td>
            <td class="col-md-1" name="needByDate">{{needByDate}}</td>
            <td class="col-md-1" name="materialDescription">{{materialDescription}}</td>
            <td class="col-md-1" name="quantity">{{quantity}}</td>
            <td class="col-md-1" name="status">{{status}}</td>
            <td class="col-md-1" name="dateOrdered">{{dateOrdered}}</td>
            <td class="col-md-1" name="confirmedDeliveryDate">{{confirmedDeliveryDate}}</td>
            <td class="col-md-1" name="deliveryStatus">{{deliveryStatus}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
<br />
<br />
<br />
<br />
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="../../public/js/all.js"></script>

<script>
  $("#homeButtonReview").click(function (event) {

    event.preventDefault();

    window.location.href = "/";
  });
</script>