<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Construction, Inc.</h1>
        <h2>Purchase Request System</h2>
        <h2>Update Request</h2>
        <br />
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title">Purchase Requisition</h4>
            <p>
              {{!-- All of the handlebars below will need to be updated --}}
              <strong>Request Numebr:</strong> {{example.id}}
            </p>
            <p>
              <strong>Project Name:</strong> {{example.text}}
            </p>
            <p>
              <strong>Requestor Name:</strong> {{example.description}}
            </p>
            <p>
              <strong>Buyer Name:</strong> {{example.id}}
            </p>
            <p>
              <strong>Date Submitted:</strong> {{example.text}}
            </p>
            <p>
              <strong>Material Description:</strong> {{example.description}}
            </p>
            <p>
              <strong>Quantity:</strong> {{example.text}}
            </p>
            <p>
              <strong>Need-by Date:</strong> {{example.description}}
            </p>
          </div>
        </div>
        <br />
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="date-ordered">Date Ordered</label>
            <input type="text" id="date-ordered" class="form-control" aria-describedby="date-ordered" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="confirmed-delivery-date">Confirmed Delivery Date</label>
            <input type="text" id="confirmed-delivery-date" class="form-control" aria-describedby="confirmed-delivery-date"
              placeholder="Enter Example Text">
          </div>
          <a href="/">← Back To Home</a>
          <button id="submit" class="btn btn-primary float-right">Update Item</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>